

.G-container {
  max-width: 1700px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}


.G-input{
  width: 100%;

  label{
    display: block;
    width: 100%;

    p{
      margin-bottom: 10px;
    }
    input{
      width: 100%;
      height: 38px;
      border-radius: 12px;
      padding: 0 12px;
      border: 1px solid #3c98f6;
    }
  }
}


.G-button{
  width: 100%;
  height: 40px;
  border-radius: 12px;
  text-align: center;
  padding: 0 12px;
  background-color: #3c98f6;
  transition: 0.3s;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover{
    background-color: #61dafb;
  }
}


.G-width-50{
  width: calc(50% - 10px);
}