.special-offer{
    gap: 20px;
    

    .offer-box{
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        min-height: 214px;
        gap: 20px;
        color: white;

    }

    button{
        background-color: #FFD333;
        color: black;
        max-width: 200px;
        width: 100%;
        height: 60px;
    }
}

.offer{
    width: 30%;
    gap: 20px;
    margin-top: 30px;
    min-height: 500px;
}